<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @round.Name %>
</p>

<p>Matches:</p>
<ul>
<% @round.matches.each do |match| %>
	<li><%= match.Name %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_round_path(@round) %> |
<%= link_to 'Back', rounds_path %>
