<p id="notice"><%= notice %></p>
<% if @tournaments[0] %>
  <h1>Listing Tournaments</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tournaments.each do |tournament| %>
        <tr>
          <td><%= tournament.Name %></td>
          <td><%= button_to 'Show', tournament %></td>
          <td><%= button_to 'Edit', edit_tournament_path(tournament) %></td>
          <td><%= button_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%else%>
  <h2>No Tournaments Exist</h2>
<%end%>
<br>