<p id="notice"><%= notice %></p>

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="bracket_css.css">
		<%=stylesheet_link_tag "bracket_css"%>
	</head>

	<h1><%= @tournament.Name %></h1>
	<main id="tournament">

	<ul class="round round-1">
		<% if @tournament.rounds.all.length >= 1 then %>
			<% totalMatches = 0 %>
			<% @tournament.rounds.all[0].matches.each do |match| %>

				<li class="spacer">&nbsp;</li>

				<% if match.home_team == nil then %>
					<li class="game game-top">Bye</li>
				<% else %>
					<li class="game game-top"><%= match.home_team.Name %></li>
				<% end %>

				<li class="game game-spacer">&nbsp;</li>

				<% if match.away_team == nil then %>
					<li class="game game-bottom">Bye</li>
				<% else %>
					<li class="game game-bottom"><%= match.away_team.Name %></li>
				<% end %>

				<% totalMatches = totalMatches + 1 %>

			<% end %>

			<% while totalMatches < 8 do %>
				<li class="spacer">&nbsp;</li>
				<li class="game game-top">Bye</li>
				<li class="game game-spacer">&nbsp;</li>
				<li class="game game-bottom">Bye</li>
				<% totalMatches = totalMatches + 1 %>
			<% end %>

		<% else %>
			<% for i in 0..7 %>
				<li class="spacer">&nbsp;</li>
				<li class="game game-top"> </li>
				<li class="game game-spacer">&nbsp;</li>
				<li class="game game-bottom"> </li>
			<% end %>
		<% end %>
		<li class="spacer">&nbsp;</li>
	</ul>

	<ul class="round round-2">
		<% if @tournament.rounds.all.length >= 2 then %>
			<% totalMatches = 0 %>
			<% @tournament.rounds.all[1].matches.each do |match| %>

				<li class="spacer">&nbsp;</li>

				<% if match.home_team == nil then %>
					<li class="game game-top">Bye</li>
				<% else %>
					<li class="game game-top"><%= match.home_team.Name %></li>
				<% end %>

				<li class="game game-spacer">&nbsp;</li>

				<% if match.away_team == nil then %>
					<li class="game game-bottom">Bye</li>
				<% else %>
					<li class="game game-bottom"><%= match.away_team.Name %></li>
				<% end %>

				<% totalMatches = totalMatches + 1 %>

			<% end %>

			<% while totalMatches < 4 do %>
				<li class="spacer">&nbsp;</li>
				<li class="game game-top">Bye</li>
				<li class="game game-spacer">&nbsp;</li>
				<li class="game game-bottom">Bye</li>
				<% totalMatches = totalMatches + 1 %>
			<% end %>

		<% else %>
			<% for i in 0..3 %>
				<li class="spacer">&nbsp;</li>
				<li class="game game-top"> </li>
				<li class="game game-spacer">&nbsp;</li>
				<li class="game game-bottom"> </li>
			<% end %>
		<% end %>
		<li class="spacer">&nbsp;</li>
	</ul>

	<ul class="round round-3">
		<% if @tournament.rounds.all.length >= 3 then %>
			<% totalMatches = 0 %>
			<% @tournament.rounds.all[2].matches.each do |match| %>

				<li class="spacer">&nbsp;</li>

				<% if match.home_team == nil then %>
					<li class="game game-top">Bye</li>
				<% else %>
					<li class="game game-top"><%= match.home_team.Name %></li>
				<% end %>

				<li class="game game-spacer">&nbsp;</li>

				<% if match.away_team == nil then %>
					<li class="game game-bottom">Bye</li>
				<% else %>
					<li class="game game-bottom"><%= match.away_team.Name %></li>
				<% end %>

				<% totalMatches = totalMatches + 1 %>

			<% end %>

			<% while totalMatches < 2 do %>
				<li class="spacer">&nbsp;</li>
				<li class="game game-top">Bye</li>
				<li class="game game-spacer">&nbsp;</li>
				<li class="game game-bottom">Bye</li>
				<% totalMatches = totalMatches + 1 %>
			<% end %>

		<% else %>
			<% for i in 0..1 %>
				<li class="spacer">&nbsp;</li>
				<li class="game game-top"> </li>
				<li class="game game-spacer">&nbsp;</li>
				<li class="game game-bottom"> </li>
			<% end %>
		<% end %>
		<li class="spacer">&nbsp;</li>
	</ul>

	<ul class="round round-4">
		<% if @tournament.rounds.all.length >= 4 then %>
			<% totalMatches = 0 %>
			<% @tournament.rounds.all[3].matches.each do |match| %>

				<li class="spacer">&nbsp;</li>

				<% if match.home_team == nil then %>
					<li class="game game-top">Bye</li>
				<% else %>
					<li class="game game-top"><%= match.home_team.Name %></li>
				<% end %>

				<li class="game game-spacer">&nbsp;</li>

				<% if match.away_team == nil then %>
					<li class="game game-bottom">Bye</li>
				<% else %>
					<li class="game game-bottom"><%= match.away_team.Name %></li>
				<% end %>

				<% totalMatches = totalMatches + 1 %>

			<% end %>

			<% while totalMatches < 1 do %>
				<li class="spacer">&nbsp;</li>
				<li class="game game-top">Bye</li>
				<li class="game game-spacer">&nbsp;</li>
				<li class="game game-bottom">Bye</li>
				<% totalMatches = totalMatches + 1 %>
			<% end %>

		<% else %>
			<li class="spacer">&nbsp;</li>
			<li class="game game-top"> </li>
			<li class="game game-spacer">&nbsp;</li>
			<li class="game game-bottom"> </li>
		<% end %>
		<li class="spacer">&nbsp;</li>
	</ul>

	<ul class="round round-5">
		<% if @tournament.rounds.all.length >= 4 then %>
			<% @tournament.rounds.all[3].matches.each do |match| %>
				<% if match.winner != nil then %>
					<li class="game game-top winner"><%= match.winner.Name %> </li>
				<% end %>
			<% end %>
		<% end %>
	</ul>

	</main>
	<table>
		<tbody>
			<tr>
	        	<td> <%= button_to 'Edit Tournament', edit_tournament_path(@tournament) %> </td>
	        	<td> <%= button_to 'Back', tournaments_path, :class => "button", :method => :get %> </td>
	        </tr>
	    </tbody>
	</table>

		<br> 
		<i>
			The HTML layout for this page was borrowed and altered from: <a href="http://codepen.io/anon/pen/pgJVRg"> http://codepen.io/anon/pen/pgJVRg</a>
		</i>
</html>