<p id="notice"><%= notice %></p>

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="bracket_css.css">
		<%=stylesheet_link_tag "bracket_css"%>
	</head>

	<% byeWeekString = "Bi Week" %>

	<% teamArray = Array.new %>
	<% @tournament.teams.each do |team| %>
		<% teamArray.push team %>
	<% end %>

	<h1><%= @tournament.Name %></h1>
	<main id="tournament">
		<ul class="round round-1">
			<li class="spacer">&nbsp;</li>
			
			<% i = 0 %>
			<% while i < 16 do %>

				<% if teamArray[i].blank? then %>
					<% teamArray[i] = byeWeekString %>
					<li class="game game-top winner"><%= teamArray[i] %></li>
				<% else %>
					<li class="game game-top winner"><%= teamArray[i].Name %></li>
				<% end %>

				<li class="game game-spacer">&nbsp;</li>

				<% i = i+1 %>

				<% if teamArray[i].blank? then %>
					<% teamArray[i] = byeWeekString %>
					<li class="game game-bottom "><%= teamArray[i] %> </li>
				<% else %>
					<li class="game game-bottom"><%= teamArray[i].Name %></li>
				<% end %>


				<% i = i+1 %>

				<li class="spacer">&nbsp;</li>

			<% end %>
			


			
		</ul>
		<ul class="round round-2">
			<li class="spacer">&nbsp;</li>
			
			<% i = 0 %>
			<% while i < 8 do %>

				<% if teamArray[i].blank? or teamArray[i] == byeWeekString then %>
					<% teamArray[i] = byeWeekString %>
					<li class="game game-top winner"><%= teamArray[i] %></li>
				<% else %>
					<li class="game game-top winner"><%= teamArray[i].Name %></li>
				<% end %>

				<li class="game game-spacer">&nbsp;</li>

				<% i = i+1 %>

				<% if teamArray[i].blank? or teamArray[i] == byeWeekString then %>
					<% teamArray[i] = byeWeekString %>
					<li class="game game-bottom "><%= teamArray[i] %> </li>
				<% else %>
					<li class="game game-bottom"><%= teamArray[i].Name %></li>
				<% end %>


				<% i = i+1 %>

				<li class="spacer">&nbsp;</li>

			<% end %>
		</ul>
		<ul class="round round-3">
			<li class="spacer">&nbsp;</li>
			<% i = 0 %>
			<% while i < 4 do %>

				<% if teamArray[i].blank? or teamArray[i] == byeWeekString then %>
					<% teamArray[i] = byeWeekString %>
					<li class="game game-top winner"><%= teamArray[i] %></li>
				<% else %>
					<li class="game game-top winner"><%= teamArray[i].Name %></li>
				<% end %>

				<li class="game game-spacer">&nbsp;</li>

				<% i = i+1 %>

				<% if teamArray[i].blank? or teamArray[i] == byeWeekString then %>
					<% teamArray[i] = byeWeekString %>
					<li class="game game-bottom "><%= teamArray[i] %> </li>
				<% else %>
					<li class="game game-bottom"><%= teamArray[i].Name %></li>
				<% end %>


				<% i = i+1 %>

				<li class="spacer">&nbsp;</li>

			<% end %>
		</ul>
		<ul class="round round-4">
			<li class="spacer">&nbsp;</li>
			<% i = 0 %>
			<% while i < 2 do %>

				<% if teamArray[i].blank? or teamArray[i] == byeWeekString then %>
					<% teamArray[i] = byeWeekString %>
					<li class="game game-top winner"><%= teamArray[i] %></li>
				<% else %>
					<li class="game game-top winner"><%= teamArray[i].Name %></li>
				<% end %>

				<li class="game game-spacer">&nbsp;</li>

				<% i = i+1 %>

				<% if teamArray[i].blank? or teamArray[i] == byeWeekString then %>
					<% teamArray[i] = byeWeekString %>
					<li class="game game-bottom "><%= teamArray[i] %> </li>
				<% else %>
					<li class="game game-bottom"><%= teamArray[i].Name %></li>
				<% end %>


				<% i = i+1 %>

				<li class="spacer">&nbsp;</li>

			<% end %>
		
		</ul>

		<ul class="round round-5">
			<li class="game game-top winner">Lousville</li>
		</ul>		
	</main>
	<table>
		<tbody>
			<tr>
	        	<td> <%= button_to 'Edit Tournament', edit_tournament_path(@tournament) %> </td>
	        	<td> <%= button_to 'Back', tournaments_path, :class => "button", :method => :get %> </td>
	        </tr>
	    </tbody>
	</table>

		<br> 
		<i>
			This HTML Layout was borrowed and altered from: <a href="http://codepen.io/anon/pen/pgJVRg"> http://codepen.io/anon/pen/pgJVRg</a>
		</i>
</html>