<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.Name %>
</p>

<p>
	<strong>Teams:</strong>
</p>

<ul>
	<% @tournament.teams.each do |team|%>
	<li><%= team.Name%></li>
	<%end%>
</ul>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> 
<%= link_to 'Back', tournaments_path %>
