<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :home_team_id %><br>
    <%= f.collection_select :home_team_id, Team.all, :id, :Name, prompt: 'Please select a home team' %>
  </div>
  <div class="field">
    <%= f.label :away_team_id %><br>
    <%= f.collection_select :away_team_id, Team.all, :id, :Name, prompt: 'Please select an away team' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
