<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div><br>
  <div class="field">
    <%= f.label :tournament_id %><br>
    <%= f.collection_select :tournament_id, Tournament.all, :id, :Name, :include_blank => "Please select a tournament" %>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div><br>
<% end %>
